<header class="bg-image" id="mainPage">
    <div class="container">
      <h1>Alisson Engenharias</h1>
      <h2>Os produtos Alisson são tão bons que chega a impresionar</h2>
      <a href="#sobre" class="btn btn-transparent">Saiba mais</a>
    </div>
</header>
<section class="" id="sobre">
    <div class="container">
      <div class="col-3 text--left">
        <img src="https://th.bing.com/th/id/OIP.TxdagSG_nCr9AogwCsnf9wHaHY?pid=ImgDet&rs=1" alt="" class="details-img--ball"/>
      </div>
      <div class="col-7 details">
        <h3>Projetos de Obras</h3>
        <p>Estamos trabalhando para o seu futuro melhor, abrindo novas vagas de inpregos, contruindo novos patrimonios é agindo na vida das pessoa, Alisson Engenharias sempre melhor</p>
      </div>
    </div>
  </section>
  <section class="section--primary--alt bg-image bg-image-2">
    <div class="container text--center">
      <h3>Razões para investir em Alisson Engenharias</h3>
      <div class="col-5 text--left">
        <ul>
          <li>Qualidade</li>
          <li>Melhor preço</li>
          <li>Vagas para contratação</li>
          <li>Segurança em primeiro lugar</li>
          <li>Sem demora</li>
        </ul>
      </div>
      <div class="col-5 text--left">
        <ul>
          <li>Melhores Produtos</li>
          <li>descontos</li>
          <li>Em todo brasil</li>
          <li>inovações</li>
          <li>Qualidade Denovo</li>
        </ul>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <ul>
        <li><a href="#">Enpressa</a></li>
        <li><a href="#">Contratação</a></li>
        <li><a href="#mainPage">pagina Pricipal</a></li>
      </ul>
      <p>&copy; 2021 Alisson Engenharias sempre faz o melhor.</p>
    </div>
  </footer>